body {
      background-image: url('/imges/dong_zhiwu.jpg');
      background-repeat:no-repeat;  
      background-size:100% 100%;
      margin:0;
      padding:0;
    height: 700px;
}
div {
    position:relative;
  margin:1% 20% 1% 30%;
}
.Main_title {
    
}

.The_title {
     margin:3% 0 3% 0;  
}
.Textbox {
     position:relative;
     left:2%;
}
.Textbox_one {
   
}


