body h1 {
    height:100%;
    font-size:12px;
    font-family:"宋体";
  
}

.h2 {
    color:red;
    font-size:2px;
    font-family:"宋体";
}
.html {
    color:#000;
}

.mob-sub-list2 {
    width:163px;
}
.mob-sub-nav {
    line-height:34px;
    color:#666;
    font-size:16px;
    font-family:"Microsoft YaHei";
}