<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <!--DAL对应的程序集-->
    <add key="DAL" value="MSSQLDAL"/>
    <!--该配置项用告知于抽象工厂因该使用具体的工厂对象（sql or access)-->
    <add key="DbHelperProvider" value="System.Data.SqlClient"/>
    <!--<add key="DbHelperProvider" value="System.Data.OleDb"/>-->
    <add key="UploadSaveDirectory" value="Upload\"/>
    <add key="ImageStandardSize" value="4096000"/>
    <!--DB configuration items-->
    <add key="DBServerName" value="192.168.0.111"/>
    <add key="DBName" value="JDmodel"/>
    <add key="DBUserId" value="yak"/>
    <add key="DBPwd" value="klzbiye2010"/>
  </appSettings>
  <connectionStrings>
    <!--server-->
    <add name="ConnectionString" connectionString="Data Source=192.168.0.116;database=JDmodel;uid=yak;pwd=klzbiye2010;" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Provider = Microsoft.ACE.OLEDB.12.0 ;data source=C:\Users\panxie\Desktop\code sample\Framework\Design Model\AbstractFactory\DBProviderFactory\FactorySample\App_Data\test.mdb"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.5" executionTimeout="1200" maxRequestLength="102400"/>
    <!--<sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>-->
    <pages clientIDMode="AutoID"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
 