.wz 
{
    font-size:1.5rem;
    font-weight:600;
    text-align:center;
    margin-top:20px;
}
.easyui-accordion 
{
    margin-left:220px;
}
.ge 
{
    
   
    width:900px;
}
.gf
 {
    margin-top:25px;
    margin-left:150px;
}

.gg 
{
    margin-top:25px;
    margin-left:103px;
}
.gh
 {
     margin-top:25px;
    margin-left:126px;
}
.gi 
{
    display:block;
    margin-left:300px;
    margin-top:20px;
    height:20px;
    width:40px;
   
}

  
    .ft h5
     {
        color:#1C86EE;
     }
.imgss 
{
  background-image:url(../IMG/101.png);
  margin-left:450px;
  margin-top:-180px;
  width:192px;
  height:192px;
  
}
.kj 
{
    margin-left:220px;
    margin-top:40px;
    
   
}
.TP
{
    border-color:blue;
    border-width:0.5px;
    margin-top:50px;
    margin-left:100px;
    width:280px;
    height:280px;
    border-style:dashed;
    border-bottom-color:#CDCDB4;
}
.add-images add
{
    margin-left:200px;
   
}

.item
{
  margin-left:0px; 
  width:280px; 
  height:280px;
  
}

.im
{
  margin-left:0px; 
  width:280px; 
  height:280px; 
}
